<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Inscription Freelancer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/styles.css"
	th:href="@{/styles.css}">

</head>
<body>
	<div th:replace="template :: header"></div>
	<div class="col-md">
		<div class="panel panel-primary">
			<div class="panel-heading">Inscription Freelancer</div>
			<div class="panel-body">      
	<form action="#" th:action="@{/inscriptiondufreelancer}" th:object="${freelancerForm}"method="post">
					<div>
						<label>Nom</label> 
						<input type="text" th:field="*{nom}" />
					</div>
					<div>
						<label>Prenom</label> 
						<input type="text" th:field="*{prenom}"/>
					</div>
					<div>
						<label>Email</label> 
						<input type="email"th:field="*{email}"/>		
					</div>
					<div >
						<label>Numero de telephone</label> 
						<input type="number"th:field="*{mobile}"/>
					</div>

					<div>
						<label>Ville</label> 	
					<select class="form-control" id="inputVille">
							<option>Agadir</option>
							<option>CasaBlanca</option>
							<option>Eljadida</option>
							<option>Fes</option>
							<option>Kenitra</option>
							<option>Marrakech</option>
							<option>Mohammedia</option>
							<option>Oujda</option>
							<option>Rabat</option>
							<option>Safi</option>
							<option>Sale</option>
							<option>Tanger</option>
							<option>Autre</option>
						</select>
					</div>
					<div>
						<label>Quartier</label> 
						<input type="text" th:field="*{Quartier}"/>
					</div>

					<div>
						<label>Experience</label>
						<textarea class="form-control" id="exampleMessage"></textarea>
						<small class="text-info">Decrire vos experiences ici</small>
					</div>
					<div>
						<label>Diplome</label>
						<textarea class="form-control" id="inputDiplomes"></textarea>
						<small class="text-info">Decrire vos Diplomes ici</small>
					</div>
					<div class="form-group">
						<label>Password</label> 
						<input type="password" th:field="*{password}"/>
					</div>
					<div>
						<label>Verify</label> 
						<input type="password" th:field="*{repassword}"/>
					</div>
					<div>
						<button type="submit" class="btn btn-primary">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>
		<div th:replace="template :: footer"></div>
</body>
</html>