<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Freelancers</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/styles.css"
	th:href="@{/styles.css}">

</head>
<style>
.text-purple {
	color: var(- -purple);
}

.sticky-top {
	transition: padding 0.2s ease;
}

.stuck .sticky-top {
	padding-top: 15px;
}
</style>
<script>
	(new IntersectionObserver(function(e, o) {
		if (e[0].intersectionRatio > 0) {
			document.documentElement.removeAttribute('class');
		} else {
			document.documentElement.setAttribute('class', 'stuck');
		}
		;
	})).observe(document.querySelector('.position-absolute'));
</script>

<body>
	<div th:replace="template :: header"></div>

	<section>
		<div class="container bg-ligth">
			<div class="row">
				<div class="col-12 bg-light py-5">
						<div  class="col-lg-8 offset-md-4">
							<form th:action="@{/offremotclé}" th:method="get">
								<div>
									<label>entrer offre</label> <input type="text" name="mot" />
									<button type="submit" class="btn btn-primary">Chercher</button>
								</div>
							</form>
							<form th:action="@{/offres}" th:method="get">
								<div>
									<button type="submit" class="btn btn-outline-primary">Tous Afficher</button>
								</div>
							</form>
						</div>

				</div>
			</div>
			<span class="position-absolute"> <!-- intersection trigger-->
			</span>
			<div class="row">
				<div th:replace="Sectiontemplate :: aside"></div>
				<main class="col py-3">
					<th:block th:each="f: ${offres}">
						<div class="container mt-3">
							<div class="media border p-3 w-100">
								<div class="media-body">
									<h4 th:text="${f.description}">
										<i></i>
									</h4>
									<a href="#" class="btn btn-outline-primary">Message</a> <span
										class="badge badge-success float-sm-right"
										th:text="${f.particulier.nom}"> </span>
								</div>
							</div>
						</div>
					</th:block>
					<div class="container">
					 <ul class="pagination">
					   <li class="page-item" th:each="p,status:${pages}">
					    <a  class="page-link" th:href="@{/getPage(pg=${status.index})}" th:text="${status.index}"></a>
					   </li>
					 </ul>
					</div>
					<h4>Fin.</h4>
				</main>
				<div th:replace="Sectiontemplate :: section"></div>
			</div>
			
		</div>
	</section>
	<div th:replace="template :: footer"></div>
</body>
</html>