<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>liste des offres</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/styles.css"
	th:href="@{/styles.css}">

</head>
<body>
<body>
	<div th:replace="template :: header"></div>
	<div class="col-md-6 offset-md-3">
		<span class="anchor" id="formRegister"></span>
		<hr class="mb-5">
		<!-- form card register -->
			<div class="card-header">
				<h3 class="mb-0"></h3>
			</div>
			<div class="col-lg-8 offset-md-4">
				<div th:action="@{/offres}">
					<form th:action="@{/offremotclé}" th:method="get">
						<div>
							<label>entrer offre</label> <input type="text" name="mot" />
							<button type="submit" class="btn btn-primary">Chercher</button>
						</div>
					</form>
				</div>
			</div>
			<th:block th:each="f: ${offres}">
				<div class="container mt-3">
					<div class="media border p-3 w-75">
						<div class="media-body">
							<h4 th:text="${f.description}">
								<i></i>
							</h4>
							<a href="#" class="btn btn-outline-primary">Message</a> <span
								class="badge badge-success float-sm-right" th:text="${f.particulier.nom}">
							</span>
						</div>
					</div>
				</div>
			</th:block>

		
	</div>
	<div th:replace="template :: footer"></div>
</body>
</html>