<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Profil Freelancer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/styles.css"
	th:href="@{/styles.css}">
</head>
<body>
	<div th:replace="template :: header"></div>
	<section>
		<div class="container" style="margin-top: 30px">
			<div class="row">
				<div class="col-sm-4">
					<h2 th:text="${freelancer.nom}">
						<small th:text="${freelancer.prenom}"></small>
					</h2>
					<h2>Note Moyenne <span class="badge badge-success float-sm-right"th:text="${note}"></span>
					</h2>
					<p>Loubbardi mohamed</p>
					<h3>Domaines de Competances</h3>
					<p>développeur web</p>
					<ul class="nav nav-pills flex-column"
						th:if="${freelancer.competences != null}">
						<li class="nav-item" th:each="cmp: ${freelancer.competences}">
							<h5 th:text="${cmp.domaine}">Active</h5> <a
							sec:authorize="hasRole('ROLE_FREELANCER')"
							th:href="@{/deleteCompetance(idCompetence=${cmp.idCompetence},idFreelancer=${freelancer.idFreelancer})}">supprimer</a>
						</li>
					</ul>
					<div sec:authorize="hasRole('ROLE_FREELANCER')">
						<span class="anchor" id="formRegister"></span>
						<hr class="mb-5">
						<!-- form card register -->
						<div class="card card-outline-secondary">
							<div class="card-body">
								<form class="form" role="form"
									th:action="@{/AAaddCompetance(id=${freelancer.idFreelancer})}"
									action="#" autocomplete="off" method="post">
									<div class="form-group">
										<label for="exampleSt">Competances</label> <select
											class="form-control" id="exampleSt" name="domaine">
											<option>Aide médico</option>
											<option>Baby sitting et Employés à domicile</option>
											<option>Beauté et bien être</option>
											<option>brochures et flyers</option>
											<option>Decoration et amenagement interieur</option>
											<option>développeurs web</option>
											<option>Electricité</option>
											<option>enseignement et formation</option>
											<option>Hygiène et sécurité</option>
											<option>Jardinage et exterieur maison</option>
											<option>Mécanique automobile et entretien de véhicules</option>
											<option>Peinture</option>
											<option>Plomberie</option>
											<option>Menuiserie aluminium</option>
											<option>Rédaction et traduction</option>
											<option>Traiteur et organisateurs de fêtes</option>
										</select>
									</div>

									<div class="form-group">
										<button type="submit"
											class="btn btn-success btn-lg float-right">Ajouter</button>
									</div>
								</form>
							</div>
						</div>
						<hr class="d-sm-none">
					</div>

				</div>
				<div class="col-sm-8">
					<h2>Information</h2>
					<h5>Cordonnées</h5>
					<div class="container mt-3">
						<div class="media border p-3 w-75">
							<div class="media-body">
								<h4>Numero de telephone : <small><i th:text="${freelancer.mobile}"></i></small>
								</h4>
								<h4>Email : <small><i th:text="${freelancer.email}"></i></small>
								</h4>
								<h4>
								Ville : <small><i th:text="${freelancer.localisation.ville}"></i></small>
								</h4>
								<h4>Quartier : <small><i th:text="${freelancer.localisation.quartier}"></i></small>
								</h4>
 								
							</div>
						</div>
					</div>
					<h5>Détails</h5>
					<div class="container mt-3">
						<div class="media border p-3 w-75">
							<div class="media-body">
								<h4>Experience :</h4>
								<p th:text="${freelancer.experience}"></p>
								<h4>Diplomes :</h4>
								<p th:text="${freelancer.diplome}"></p>
								<h4>Domaine :</h4>
								<p th:text="${freelancer.domaine}"></p>
								<h4>A propos de moi :</h4>
								<p th:text="${freelancer.presentation}"></p>
							</div>
						</div>
					</div>

					<h2>Avis a propos de moi</h2>
					<h5>liste des avis</h5>
					<div th:if="${freelancer.avis != null }">
						<div class="container mt-3" th:each="av: ${freelancer.avis}">
							<div class="media border p-3 w-75">
								<div class="media-body">
									<h4>
										<small><i>Avis</i></small>
									</h4>
									<p th:text="${av.description}"></p>
								</div>
							</div>
						</div>
					</div>
					<div sec:authorize="hasRole('ROLE_PARTICULIER')">
						<span class="anchor" id="formRegister"></span>
						<hr class="mb-5">
						<!-- form card register -->
						<div class="card card-outline-secondary">
							<div class="card-body">
								<form class="form" role="form"
									th:action="@{/BBaddAvis(id=${freelancer.idFreelancer})}"
									action="#" autocomplete="off" method="post">
									<div class="form-group">
										<label for="inputDiplomes">Votre Avis</label>
										<textarea class="form-control" name="avis" id="inputDiplomes"></textarea>
										<small class="text-info">Commentaire apropos de ce
											freelancer.</small>
									</div>
									<div class="form-group">
										<button type="submit"
											class="btn btn-success btn-lg float-right">Enregistrer</button>
									</div>
								</form>

								<form action="#" class="form" role="form"
									th:action="@{/BBaddNote(id=${freelancer.idFreelancer},idParticulier=${particulier.idParticulier})}"
									autocomplete="off" method="post">

									<div class="form-group">
										<label for="B">Votre Note a ce Profile</label> <input
											type="number" class="form-control" name="note" id="B" /> <small
											class="text-info">merci de donner un note entre 0 et
											10.</small>
									</div>
									<div class="form-group">
										<button type="submit"
											class="btn btn-success btn-lg float-right">Enregistrer</button>
									</div>
								</form>
							</div>
						</div>
						<!-- /form card register -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="template :: footer"></div>
</body>
</html>
