
<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Modifier mon profile Freelancer</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../static/styles.css"
	th:href="@{/styles.css}">
</head>
<body>
	<div th:replace="template :: header"></div>
	<section>
		<div th:if="${message_Update}">Les informations ont bien été
			modifier</div>
		<div th:if="${message_Update_false}">Les informations sont
			erroné</div>
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link active"
				data-toggle="tab" href="#home">Information Personnel</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab"
				href="#menu1">Information Professionel</a></li>
			<li class="nav-item"><a class="nav-link" data-toggle="tab"
				href="#menu2">Securité</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane container active" id="home">
				<div>
					<span class="anchor" id="formRegister"></span>
					<hr class="mb-5">
					<!-- form card register -->
					<div class="card card-outline-secondary">
						<div class="card-body">

							<form class="form" role="form"
								th:action="@{/AAupdateProfileFreelancerPersonnal(id=${freelancer.idFreelancer})}"
								action="#" autocomplete="off" method="post">
								<div class="form-group">
									<label for="inputName">Nom</label> <input type="text"
										class="form-control" th:value="${freelancer.nom}" name="nom"
										required="required" />
								</div>
								<div class="form-group">
									<label for="inputPrenom">Prenom</label> <input type="text"
										class="form-control" id="inputPrenom" name="prenom"
										th:value="${freelancer.prenom}" required="required" />
								</div>
								<div class="form-group">
									<label for="inputTelephone">Telephone</label> <input
										type="number" class="form-control" id="inputTelephone"
										name="mobile" th:value="${freelancer.mobile}"
										required="required" />
								</div>
								<div class="form-group">
									<label for="inputEmail3">Email</label> <input type="email"
										class="form-control" id="inputEmail3" name="email"
										th:value="${freelancer.email}" required="required" />
								</div>
								<div class="form-group">
									<label for="inputVille">Ville</label> <select
										class="form-control" id="inputVille" name="ville">
										<!-- 												<select -->
										<!-- 												class="form-control" id="inputVille"   -->
										<!-- 												th:value="${freelancer.localisation.ville}" -->
										<!-- 												> -->
										<option value="Casablanca">Casablanca</option>
										<option value="Agadir">Agadir</option>
										<option value="Eljadida">Eljadida</option>
										<option value="Fes">Fes</option>
										<option value="Kenitra">Kenitra</option>
										<option value="Marrakech">Marrakech</option>
										<option value="Mohammedia">Mohammedia</option>
										<option value="Oujda">Oujda</option>
										<option value="Rabat">Rabat</option>
										<option value="Safi">Safi</option>
										<option value="Sale">Sale</option>
										<option value="Tanger">Tanger</option>
										<option value="Autre">Autre</option>
									</select>
								</div>
								<div class="form-group">
									<label for="inputQuartier">Quartier</label> <input type="text"
										class="form-control" id="inputQuartier" name="quartier"
										required="required" />
									<!-- <label for="inputQuartier">Quartier</label> <input
												type="text" class="form-control" id="inputQuartier"
												th:value="${freelancer.localisation.quartier}" required="required" 
												/> -->
								</div>

								<div class="form-group">
									<button type="submit"
										class="btn btn-success btn-lg float-right">Enregistrer</button>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane container fade" id="menu1">
				<div>
					<span class="anchor" id="formRegister"></span>
					<hr class="mb-5">
					<!-- form card register -->
					<div class="card card-outline-secondary">
						<div class="card-body">
							<form class="form" role="form"
								th:action="@{/AAupdateProfileFreelancerProfessional(id=${freelancer.idFreelancer})}"
								action="#" autocomplete="off" method="post">
								<div class="form-group">
									<label for="inputDiplomes">Diplome</label>
									<textarea class="form-control" name="diplome"
										id="inputDiplomes" th:text="${freelancer.diplome}"
										required="required"></textarea>
									<small class="text-info">indiquez votre niveau d'étude</small>
								</div>
								<div class="form-group">
									<label for="inputExperiences">Experience</label>
									<textarea class="form-control" name="experience"
										id="inputExperiences" th:text="${freelancer.experience}"
										required="required"></textarea>
									<small class="text-info">indiquez votre Experience</small>
								</div>
								<div class="form-group">
									<label for="exampleMessage">A propos de vous</label>
									<textarea class="form-control" id="exampleMessage"
										name="presentation" th:text="${freelancer.presentation}"></textarea>
								</div>
								<div class="form-group">
									<label for="inputdomaine">Domaine de votre competence
										ou votre diplome</label> <input type="text" class="form-control"
										id="inputdomaine" th:text="${freelancer.domaine}"
										name="domaine" />
								</div>
								<div class="form-group">
									<button type="submit"
										class="btn btn-success btn-lg float-right">Enregistrer</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane container fade" id="menu2">
				<div>
					<span class="anchor" id="formRegister"></span>
					<hr class="mb-5">
					<!-- form card register -->
					<div class="card card-outline-secondary">
						<div class="card-body">
							<form class="form" role="form"
								th:action="@{/AAupdateProfileFreelancerSecurity}" action="#"
								autocomplete="off" method="post">

								<div class="form-group">
									<label for="inputPasswordOld">Mot de passe actuelle</label> <input
										type="password" class="form-control" name="expassword"
										required="required">
								</div>
								<div class="form-group">
									<label for="inputPasswordNew">Nouveau mot de passe</label> <input
										type="password" class="form-control" id="inputPasswordNew"
										name="password"> <span
										class="form-text small text-muted"> le mot de passe
										doit etre entre de 8 à 20 caractère et ne doit pas contenir
										d'espace.</span>
								</div>
								<div class="form-group">
									<label for="inputPasswordNewVerify">Confirmation</label> <input
										type="password" class="form-control" name="repassword">
									<span class="form-text small text-muted"> confirmation
										du nouveau mot de passe. </span>
								</div>
								<div class="form-group">
									<button type="submit"
										class="btn btn-success btn-lg float-right">Enregistrer</button>
								</div>
							</form>
						</div>
					</div>
					<!-- /form card register -->
				</div>

			</div>
		</div>
	</section>


	<div th:replace="template :: footer"></div>
</body>
</html>